.Calendar{
    height: 700px;
    padding-bottom: 80px;
    overflow-y: auto;
}

.cal-main {
    animation: slideUp .8s ease forwards;
    background-color: white;
    margin: 25px 25px 0px 25px;
    border-radius: 15px;
}

.cal-month,
.cal-days,
.cal-weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
}

.cal-month {
    background-color: rgb(234, 217, 217);
    border-radius: 15px 15px 0px 0px;
}

.cal-month-name {
    grid-column-start: 2;
    grid-column-end: 7;
    text-align: center;
}

.cal-weekday,
.cal-btn {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    height: 3rem;
    padding: 0;
}
.cal-btn-ai{
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    height: 3rem;
    padding: 0;
    --bs-btn-bg: rgb(217, 233, 234);
    --bs-btn-hover-bg: rgb(131, 203, 206);
    --bs-btn-active-bg: rgb(49, 158, 162);
    --bs-btn-active-border-color: rgba(255, 255, 255, 0);
}


.cal-btn:not([disabled]) {
    font-weight: 500;
}

.cal-btn:hover,
.cal-btn:focus {
    background-color: rgba(0, 0, 0, .05);
}

.cal-btn-disabled {
    border: 0;
    opacity: .5;
    --bs-btn-active-border-color: rgba(255, 255, 255, 0);
}

.cal-container{
    animation: slideUp 1.2s ease forwards;
    background-color: white;
    padding: 10px 0px 10px 0px;
    /* height:100px; */
    width: 400px;
    border-radius: 15px;
}

.cal-ai-date{
    width: 50px;
    height: 50px;
    padding: 1.7% 0% 0% 0%;
    margin: 0% 5% 5% 10%;
    font-size: 25px;
    border-radius: 100%;
    background-color: rgb(217, 233, 234);
}

.cal-ai-content{
    text-align: left;
}
.cal-ai-title{
    font-weight:500;
    font-size:20px;
    padding-bottom:10px;
}