@import './colors.scss';


.chat{
    &-header{
        padding-top: 20px;
        text-align: center;
        color: #333;
    }
    &-input{
        position: absolute;
        bottom: 70px;
        border-top: solid grey 0.1px;
        width: 100%;
        padding: 0px 0px 15px 0px;
        background-color: #fafafa;
        align-items: center;
    }
    &-bi{
        font-size: 30px;
    }
    &-container{
        height: 580px;
        padding-bottom: 20px;
        overflow-y: auto;
        // overflow-x:hidden;
        .answer{
            display: inline-block;
            margin: 10px 0px 0px 0px;
            animation: slideInLeft .6s ease forwards;
            .name{
                margin: 0px 380px 0px 0px;
            }
            .content{
                text-align: left;
                max-width: 80%;
                height: auto;
                width: auto;
                // word-break: break-all;
                background-color: #b9d5f4;
                margin: 5px 100px 0px 10px;
                padding: 10px;
                border-radius: 15px;
                box-shadow: -3px 3px 5px 0px rgba(47, 47, 47, 0.1);
                float: left;
            }
            .loading{
                margin-top: 10px;
                margin-left: 20px;
                float: left;
            }
        }
        .question{
            display: inline-block;
            margin: 10px 0px 0px 0px;
            animation: slideInRight .6s ease forwards;
            .name{
                margin: 0px 0px 0px 360px;
            }
            .content{
                text-align: left;
                max-width: 80%;
                height: auto;
                width: auto;
                word-break:break-all;
                background-color: #fafafa;
                margin: 5px 10px 0px 0px;
                padding: 10px;
                border-radius: 15px;
                box-shadow: 3px 3px 5px 0px rgba(47, 47, 47, 0.1);
                float: right;
            }
        }
    }
}


input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 15px;
    /* margin-right: 10px; */
}

.btn-input {
    border-radius: 15px;
    --bs-btn-color: grey;
    --bs-btn-hover-color: black;
    --bs-btn-active-border-color: rgba(255, 255, 255, 0);
}

.spinner-grow{
    height: 0.8rem;
    width: 0.8rem;
    margin:10px;
    background-color: #626262;
    color:rgb(32, 228, 61)
}