.Controller{
    height: 670px;
    overflow-y:auto;
}

.control-container{
    background-color: #fafafa;
    padding: 10px 0px 8px 0px;
    /* height:100px; */
    width: 400px;
    border-radius: 15px;
}

.btn-control{
    border-radius:30%;
    --bs-btn-bg: #e3edf8;
    --bs-btn-hover-bg: #b9d5f4;
    --bs-btn-active-bg: #8fbef5;
    --bs-btn-active-border-color: rgba(255, 255, 255, 0);
}
.btn-save{
    font-weight:600;
    --bs-btn-bg: #b9d5f4;
    --bs-btn-hover-bg: #8fbef5;
    --bs-btn-active-bg: #63a6f2;
    --bs-btn-active-border-color: rgba(255, 255, 255, 0);
}

.toast-save{
    animation: fadeIn .8s ease forwards;
    position: absolute;
    z-index: 9999;
    bottom:90px;
    margin-left:90px;
    box-shadow: 0px 5px 10px 0px rgba(47, 47, 47, 0.1);
    background-color: rgba(255, 255, 255, 0.882);
}
.control-1{
    animation: slideUp .6s ease forwards;
}
.control-2 {
    animation: slideUp .8s ease forwards;
}
.control-3 {
    animation: slideUp 1s ease forwards;
}
.control-4 {
    animation: slideUp 1.2s ease forwards;
}
.control-5 {
    animation: slideUp 1.6s ease forwards;
}

.bi-control{
    color:#5079a8;
    font-size:25px;
}