@import '../styles/colors.scss';

.dashboard {
    text-align: center;
    position: relative;
    height: 800px;
    width: 1100px;
    background-color: rgb(234, 238, 238);
    box-shadow: 0px 5px 10px 0px rgb(47, 47, 47);
    border-radius: 20px;
    margin-left: 3%;
    &-header{
        background-color: $white;
        padding: 10px 0px 1px 0px;
        border-radius: 20px 20px 0px 0px;
        border-bottom: solid gray 0.1px;
        &-title{
            font-weight:600;
        }
    }
    &-footer{
        position: absolute;
        bottom:0;
        background-color: $white;
        border-radius: 0px 0px 20px 20px;
        border-top: solid gray 0.1px;
        &-btn{
            --bs-btn-color: rgba(0, 0, 0, 0.683);
            --bs-btn-hover-color: black;
            --bs-btn-active-border-color: #{$transparent};
            &-text {
                font-weight: 500;
                font-size: 12px;
            }
        }
        &-bi {
            font-size: 35px;
        }
    }
    &-chart{
        animation: fadeIn .8s ease-in forwards;
        background-color: $white;
        border-radius: 20px;
        margin: 20px;
        padding: 20px;
    }
    &-content{
        // height:12%;
        animation: fadeIn .8s ease-in forwards;
        margin:0px 20px 5px 20px;
        display: flex;  
        justify-content: center;
    }
    &-container {
        display:inline-block;
        align-content:center;
        width:100%;
        border-color: $transparent;
        padding-top:-20px;
        &.disabled{
            background-color: $white;
        }
        &.active{
           background-color: $blue1;
            &:hover {
                background-color: $blue2;
            }
        }
        &.deactivated{
            background-color: $white;
            &:hover {
                background-color: $blue2;
            }
        }
        &.diff{
            border: 0.1px solid rgba(128, 128, 128, 0.445);
            border-radius: 20px 0px 0px 20px;
        }
        &.actual{
            border-top: 0.1px solid rgba(128, 128, 128, 0.445);
            border-bottom: 0.1px solid rgba(128, 128, 128, 0.445);
            border-right: 0.1px solid rgba(128, 128, 128, 0.445);
        }
        &.predicted{
            border-top: 0.1px solid rgba(128, 128, 128, 0.445);
            border-bottom: 0.1px solid rgba(128, 128, 128, 0.445);
        }
        &.current{
            border: 0.1px solid rgba(128, 128, 128, 0.445);
            border-radius:0px 20px 20px 0px;
        }
    }
}

.temp{
    &-title{
        font-size: 15px;
        &.marked{
            padding-right:20px;
        }
    }
    font-weight:600;
    font-size:25px;
}

.mark{
    display:inline-block;
    margin:0px;
    padding:0px;
    height:20px;
    width:20px;
    border-radius:50%;
    box-shadow: 0px 1px 3px 1px rgba(47, 47, 47, 0.236);
    &-1{
        background-color: #1f484c;
    }
    &-2{
        background-color: #00CCC0;
    }
    &-3{
        background-color: #7885FF;
    }
}