Footer {
    height: 80px;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0;
    border-top: solid gray 0.1px;
    margin-bottom: 5px;
    border-radius: 15px 15px 20px 20px;
    /* box-shadow: 0px 0px 10px 1px rgb(223, 223, 223) inset; */
    /* align-items: stretch;
  justify-content: space-between; */
    /* font-size:px; */
}

.footer-btn {
    --bs-btn-color: grey;
    --bs-btn-hover-color: black;
    --bs-btn-active-border-color: rgba(255, 255, 255, 0);
}

.footer-btn-activated {
    --bs-btn-color: black;
    --bs-btn-active-border-color: rgba(255, 255, 255, 0);
}

.footer-text {
    font-weight: 500;
    font-size: 12px;
}

.footer-bi {
    font-size: 35px;
}