@import './colors.scss';

.status{
    height:670px;
    overflow-y: auto;
    &-info {
        background-color: $white;
        padding: 25px 0px 8px 0px;
        width: 380px;
        border-radius: 15px;
        &.ai{
            background: radial-gradient(ellipse, $white, $white, $blue1);
            border: 0.1px solid rgba(128, 128, 128, 0.445);
        }
    }
    &-content{
        text-align: left;
    }
    &-1 {
        animation: slideUp .8s ease forwards;
    }
    &-2 {
        animation: slideUp 1.2s ease forwards;
    }
    &-3 {
        animation: slideUp 1.6s ease forwards;
    }
}

.info{
    &-icon {
        width: 50px;
        height: 50px;
        padding: 2% 0% 0% 0%;
        margin: 0% 5% 5% 10%;
        font-size: 25px;
        border-radius: 100%;
        background-color: $blue1;
        &.ai{
            width: 65px;
            height: 65px;
            font-size: 35px;
            background-color: $blue2;
        }
    }
}

.btn{
    &-apply{
        border-radius: 20%;
        color: black;
        background-color: $blue2;
        --bs-btn-hover-bg: #{$blue3};
        --bs-btn-active-bg: #{$blue4};
        --bs-btn-active-border-color: #{$transparent};
        position:absolute;
        left:290px;
        bottom:15px;
    }
}