@import './colors.scss';

.status{
    &-info {
        background-color: $white;
        padding: 25px 0px 8px 0px;
        /* height:100px; */
        width: 400px;
        border-radius: 15px;
    }
    &-content{
        text-align: left;
    }
    &-1 {
        animation: slideUp .8s ease forwards;
    }

    &-2 {
        animation: slideUp 1.2s ease forwards;
    }

    &-3 {
        animation: slideUp 1.6s ease forwards;
    }
}

.info{
    &-icon {
        width: 50px;
        height: 50px;
        padding: 2% 0% 0% 0%;
        margin: 0% 5% 5% 10%;
        font-size: 25px;
        border-radius: 100%;
        background-color: $blue1;
    }
}